<% include header.ejs %>
    <div class="main-w3layouts wrapper">
        <h1>SignUp Form</h1>
        <div class="main-agileinfo">
            <div class="agileits-top"> 
                <form action="/account/signup" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input class="text" type="text" name="username" placeholder="Username" autocomplete="false" required="">
                    <input class="text email" type="email" name="email" placeholder="Email" autocomplete="false" required="">
                    <input class="text" type="password" name="password" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                    <input type="submit" value="SIGNUP">
                </form>
                <p>Don't have an Account? <a href="#"> Login Now!</a></p>
            </div>   
        </div>  

        <ul class="w3lsg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

<% include footer.ejs %>